*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $veryDarkBlue;
  font-family: $fontInter;
  color: $white;
}

main {
  padding: 5.5em 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $darkDesaturatedBlue;
  text-align: center;
  border-radius: 8px;

  &-image {
    height: 15rem;
    background-image: url("../../images/image-header-mobile.jpg");
    background-color: hsl(277, 67%, 25%);
    background-blend-mode: overlay;
    filter: brightness(1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &-content {
    padding: 2.4375rem 2.1875rem 2.3125rem;
  }

  &-title {
    font-size: 1.6875rem;
    color: $white;
  }

  &-title span {
    color: $softViolet;
  }

  &-text {
    padding-top: 0.9375em;
    padding-bottom: 2.6875em;
    line-height: 1.6;
    font-size: 0.9375rem;
    color: $slightlyTransparentWhite_1;
  }

  &-content ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.8125rem;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
  }

  &-content ul p {
    padding-top: 0.375rem;
    font-family: $fontLexendDeca;
    font-size: 0.8125rem;
    color: $slightlyTransparentWhite_2;
  }
}

footer {
  position: relative;
}

.attribution {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 23.5rem) {
  /* 376px */
  main {
    padding: 11.0625rem 2rem;
  }
}

@media (min-width: 37.5rem) {
  /* 600px */
  .card-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
  }
}

@media (min-width: 56.25rem) {
  /* 900px */
  .card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 69.375rem;
    margin: auto;

    &-content {
      max-width: 35.625;
      padding: 0.375rem 4.5rem 0;
      text-align: left;
    }

    &-title {
      font-size: 2.1875rem;
      padding-right: 0.625rem;
    }

    &-text {
      padding: 1.8125rem 2.1875rem 4.625rem 0;
    }

    &-image {
      width: 100%;
      height: 27.875rem;
      background-image: url("../../images/image-header-desktop.jpg");
      border-radius: 0 8px 8px 0;
    }

    &-content ul {
      justify-content: start;
      column-gap: 4.0625rem;
    }
  }
}
